<h1>New post</h1>

<form action="{{ collection_path }}" class="new_post" id="new_post" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="{{ form_authenticity_token }}" /></div>

  <p>
    <label for="post_title">Title</label><br />
    <input id="post_title" name="post[title]" size="30" type="text" />
  </p>
  <p>
    <label for="post_body">Body</label><br />
    <textarea cols="40" id="post_body" name="post[body]" rows="20"></textarea>
  </p>
  <p>
    <input id="post_submit" name="commit" type="submit" value="Create" />
  </p>
</form>

<p>
  {{ 'Back' | link_to: collection_path }}
</p>